body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

.section {
    padding: 0 20.3%;
}

.first {
    background: #1F2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.introduction {
    display: flex;
    padding-bottom: 50px;
    gap: 40px;
    margin: 125px 0;
}

.introduction .left {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 50%;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 700;
    font-size: 16px;
    border-color: white;
}
.left button {
    border-color: #3882F6;
    align-self: flex-start;
}

.left p {
    font-weight: 100;
    margin-bottom: 8px;
}

.introduction .image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: slategray;
}

.second {
    padding-bottom: 100px;
    padding-top: 25px;
}

.second .container {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.second .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 30px 0;
}

.second .image-placeholder {
    border-radius: 20px;
    border: 3px solid #3882F6;
    width: 175px;
    height: 175px;
    flex: 1 1 auto;
    margin-bottom: 5px;
}

.second .image-info {
    max-width: 150px;
    text-align: center;
}

.third {
    background: #E5E7EB;
    padding: 100px 26%;

    font-size: 36px;
    color: #1F2937;
}

.third .author {
    font-size: 28px;
    font-weight: 600;
    text-align: right;
    margin-top: 10px;
}

.box {
    margin-top: 75px;
    margin-bottom: 75px;
    background: #3882F6;
    border-radius: 5px;
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    align-content: center;
    gap: 25px;
}

.box .title {
    color: white;
    font-size: 24px;
    font-weight: 600;
} 

.box .info {
    font-size: 16px;
    color: #E5E7EB;
}

.box .right {
    align-self: flex-end;
}

.fifth {
    background: #1F2937;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}